body {
    margin: 0;
    /* padding-top: 94px; */
}

del {
    color: grey;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/*상단바*/
.header {
    background-color: #FFFFFF;
    width: 100%;
    height: 94px;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 0;
}

.header_2 {
    background-color: #FFFFFF;
    position:fixed;
    width: 100%;
    z-index: 100;
}

.nav1 {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.head_logo {
    max-width: 400px;
    width: 100%;
    height: auto;
}

.nav_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

ul {
    list-style: none;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
    align-items: center;
}


/*메인포스터 부분*/
.mainposter {
    margin-bottom: 50px;
}
.mainposter img{
    width: 100%;
}


/* 기능설명부분 */
.op_info{
    display: flex;
    flex-wrap: wrap;
}
.explain{
    width:50%;
    height: 200px;
}



/*구매 박스*/
.tbcell {
    display: table-cell;
    max-height: 200px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.product_purchase {
    max-width: 1180px;
    width: 100%;
    display: table;
    border-spacing: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: beige;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.product {
    border-right: solid black 1px;
}

.product h3 {
    font-size: 1.5rem;
}

.price {
    font-size: 1.5rem;
}

.pr_info {
    font-size: 0.8rem;
}
.w-btn-red-outline {
    border: 3px solid #ff5f2e;
    color: #6e6e6e;
}
.w-btn-outline {
    position: relative;
    background-color: white;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}
.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-red-outline:hover {
    background-color: #ff5f2e;
    color: #e1eef6;
}

.w-btn-outline:active {
    transform: scale(1.5);
}


/*footer부분*/
.footer {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.3rem;
    background: #4c4747;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}