body {
    min-height: 75rem;
    padding-top: 10rem;
}

a{
    text-decoration: none;
}


.head_logo {
    max-width: 400px;
    width: 100%;
    height: auto;
}

textarea{
    resize: none;
    overflow-y: scroll;
    height: 500px;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
hr{
    margin-top: 0;
}

.panel{
    max-width: 350px;
    margin-left: auto;

}

.box, .form-control{
    max-width: 1500px;
    margin-right: auto;
}
@media (max-width: 880px) {
    .collapse {
        font-size: 0.7rem;
    }

}