* {
  box-sizing: border-box;
}
body {
  text-align: center;
  margin: 0;
  padding: 0;
}

/* 공통 클래스 */
.hide {
  display: none;
}

.head_logo{
  max-width: 400px;
  width: 100%;
}

/* 회원가입 */
#form-container {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom:100px;
}
#form-container h2 {
  font-size: 30px;
  color: #333;
  font-weight: 600;
  text-align: center;
  padding: 60px 0 30px;
  margin: 0 0 40px 0;
  border-bottom: 2px solid #333;
}

#form-container fieldset {
  text-align: left;
  margin: 0;
  padding: 0 0 10px 0;
  border: 0;
  vertical-align: middle;
}
#form-container fieldset label {
  display: inline-block;
  width: 120px;
  line-height: 45px;
  font-size: 14px;
  color: #333;
  font-weight: 500;
}
#form-container fieldset label span {
  display: inline-block;
  color: tomato;
  padding-left: 5px;
}
#form-container fieldset input {
  display: inline-block;
  width: calc(100% - 125px);
  height: 45px;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 1px solid #eee;
  border-radius: 2.5px;
}
#form-container #subit-button {
  font-size: 20px;
  font-weight: 500;
  margin-top: 30px;
  padding: 15px 80px;
  border-radius: 5px;
  color:#888;
  border:2px solid #888;
  background:#ddd;
}
#form-container #subit-button.allCheck {
  color: #fff;
  border: 2px solid #5f0081;
  background: #5f0081;
  cursor: pointer;
}

/* 경고 메세지 */
.msg {
  display: block;
  width: 100%;
  font-size:12px;
  color: #666;
  margin-bottom: 5px;
  padding-left: 130px;
}
.msg:before {
  display: inline-block;
  content: "";
  clear: both;
  vertical-align: middle;
  width: 3px;
  height: 3px;
  margin-right: 5px;
  border-radius: 50%;
  background: #333;
}
.msg.hide {
  display: none;
}
.msg.success {
  color: green;
}
.msg.success:before {
  background: green;
}